body {
  font-size: .8rem;
}

p {
  font-family: century-gothic, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}
section {
  background-color: black;
  font-family: century-gothic, sans-serif;
}
@media (max-width: 500px){
  section{
    padding: 2rem 0;
  }
}
h2, h3 {
  font-family: century-gothic, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: white;
}
@media (max-width: 500px){
  .modal-heading{
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}
.embed-responsive-4by3::before {
  padding-top: 55%;
}
@media (max-width: 500px){
  .masthead {
    height: 100vh;
  }
}
@media (max-width: 736px){
  .masthead {
    height: 100vh;
  }
}
.btn {
    background-color: #345371;
    color: white;
    font-family: century-gothic, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.btn-primary {
    background-color: #345371;
    color: white;
    font-family: century-gothic, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.white {
  color: white;
  text-align: center;
}
.carousel-item {
  min-width: 500px;
  min-height: 500px;
  text-align: center;
}
@media (max-width: 500px){
  .carousel-item{
    min-height: 0;
    min-width: 0;
  }
}
@media (max-width: 736px){
  .carousel-item{
    min-height: 0;
    min-width: 0;
  }
}
#modelscarousel {
  float: left;
  display: inline-block;
}
#modelscarouselsc {
  float: left;
  display: inline-block;
}
.features-text {
  background-color: black;
  font-family: century-gothic, sans-serif;
  color: rgba(255,255,255,.7);
}
@media (max-width: 500px){
  .features-text {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    font-size: .5rem;
  }
}
@media (max-width: 736px){
  .features-text {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    font-size: .5rem;
  }
}
@media (max-width: 500px){
  #sc-button-mobile {
    margin-bottom: .3rem;
  }
}
@media (max-width: 500px){
  #sc-model-text {
    margin-bottom: .3rem;
  }
}
.mtext {
  display: inline-block;
  min-height: 500px;
}
@media (max-width: 500px){
  .mtext {
    min-height: 0;
  }
}
@media (max-width: 736px){
  .mtext {
    min-height: 0;
    overflow-y: scroll;
  }
}
#mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    color: white;
    text-transform: none;
    font-family: century-gothic, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 1.5rem;
}

#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
  color: white;
  text-transform: none;
  font-family: century-gothic, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 1.5rem;
}
.nav-link {
  font-family: century-gothic, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: white;
  margin-right: 10px;
}
#mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
  color: #D9690C;
}
strong {
  color: white;
  font-family: century-gothic, sans-serif;
  font-style: normal;
  font-weight: 400;
}
h2.h-landing {
  position: absolute;
  top: 88px;
  left: 0px;
  color: white;
  font-family: century-gothic, sans-serif;
  font-style: normal;
  font-weight: 200;
}
.carousel-item {
  text-align: center;
}
.u-carousel {
  max-height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (max-width: 500px){
  .u-carousel {
    max-height: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
@media (max-width: 736px){
  .u-carousel {
    max-height: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

div.carousel-item-active {
  margin-top: 10px;
}
.modal-thumb {
  max-width: 100%;
  max-height: 400px;
}
.thumbnail-and-modal {
  text-align: center;
}
#thumbnail-1 {
  text-align: center;
}
@media  screen and (min-width: 1920px) {
  body {
    font-size: 1.2rem;
  }
}
@media  screen and (min-width: 1366px) {
  section {
    height: 100vh;
  }
}
#mainNav.navbar-shrink {
  background-color: black;
}
#mainNav {
  background-color: black;
}
#navbarResponsive {
  background-color: black;
}
.img-responsive {
    height: auto;
    width: auto;
    max-height: 75px;
    max-width: 250px;
}
.fb-nav {
      height: auto;
      width: auto;
      max-height: 40px;
      max-width: 40px;
}
.contact-phone {
      height: auto;
      width: auto;
      /* max-height: 100px;
      max-width: 125px; */
}
.contact-fb {
      height: auto;
      width: auto;
      max-height: 148px;
      max-width: 224px;
}

/*MODAL STYLING*/
.outer-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255,255,255,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}
@media (max-width: 500px){
  .outer-modal{
    height: auto;
    min-height: 100vh;
  }
}
@media (max-width: 736px){
  .outer-modal{
    height: auto;
    min-height: 100vh;
  }
}
.modal-container{
  background-color: black;
  width: 95%;
}
